.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #00BFFF;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes bounceRotate {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.bounceRotate {
  animation: bounceRotate 0.5s ease-in-out;
}

.tilted {
  transform: rotate(10deg); /* Adjust the degree of rotation as needed */
}

.half-size {
  width: 50%;
  height: auto;
  margin-left: 20%; /* Adjust this value as needed */
}

.custom-text {
  font-family: 'Comic Neue', sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  margin-left: 16px;
}

/* Responsive design */
@media (max-width: 768px) {
  .custom-text {
    font-size: 1.2em; /* Adjust for tablets */
  }
}

@media (max-width: 480px) {
  .custom-text {
    font-size: 1em; /* Adjust for mobile devices */
  }
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}

.flex-item {
  margin: 0 8px;
}
.gif-container {
  position: fixed;
  width: 100px; /* Adjust width as needed */
  height: 100px; /* Adjust height as needed */
}

.left-gif {
  left: 5px;
  top: 5%;
  transform: translateY(-50%);
  z-index: 1000; /* Ensure the GIFs appear above other content */
}

.right-gif {
  right: 5px;
  top: 5%;
  transform: translateY(-50%);
  z-index: 1000; /* Ensure the GIFs appear above other content */
}

.giphy-embed {
  width: 100%;
  height: 100%;
}

